<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PdfLayOut</title>
</head>
<body>
    <div> 
        @*<itext creationdate="@DateTime.UtcNow.ToString()" producer="RazorPDF">
            @RenderBody()
        </itext>*@
        @*<object data="@Url.Action("Test", "StoreVisit", new { fileName = "", type = "application/pdf", width = "1130", height = "500" } ></object>*@
    </div>
</body>
</html>
